#ignore these files 
PRAdsPlayer
Makefile
debhelper-build-stamp
debian/files
*.debhelper.log
*.substvars
qrc_pradsplayer.cpp
yinka-player
*.dll
Debug/*
Win32/*
AdsFiles/*
GeneratedFiles/*
LocalAdsFiles/*
Logs/*
*.db
moc_*
*.sdf
ui_*.h
*.o
*.opensdf
/quazip/doc/*
/quazip/quazip/Debug/*
/quazip/quazip/doc/*
/quazip/qztest/*
.vs
/terminal_player/vlc-qt
/terminal_player/vlcqt/widgets/Debug
/terminal_player/vlcqt/widgets/Widgets.dir
/terminal_player/vlcqt/qml
/terminal_player/vlcqt/plugins/VLCQt/PluginQml.dir/Debug
/terminal_player/vlcqt/core/Core.dir
/terminal_player/vlcqt/core/Debug
/terminal_player/protobuf-2.6.1/vsprojects/Debug
/terminal_player/protobuf-2.6.1/vsprojects/Release
/terminal_upgrader/Debug
/terminal_protector/Debug
*.dmp
/terminal_protector/Release
/terminal_upgrader/Release
/QQRobot/Debug
/QQRobot/GeneratedFiles
*.opendb
